{% extends "../common/index.html" %}
  {% block content %}
  <div id="string1"><marquee behavior="scroll" direction="left" scrollamount="8"> <font color="blue" size = "+1">
    Билл Гейтс – аккуратный парень-миллиардер. Стив Джобс – небритый полусумасшедший с опытом употребления ЛСД, увлеченный Индией. 
	Они как The Beatles и The Rolling Stones рынка высоких технологий. Поклонники всегда были и есть у тех и у других. (Джеффри Янг)
  </marquee></div>
 <div id="nav">
    <button id="button1" >О кафедре</button>
    <button id="button2" >Расписание занятий</button>
    <button id="button3" >Студенты кафедры</button>
	<button id="button4" >Это пригодится</button>
	<button id="button5" >Развлечения</button>
    <button id="button6" onClick="window.location.href = '/contact'">Контактная информация</button>
	<button id="button7" onClick="window.location.href = '/forum'">Форум</button>
  </div>
  
  <div id="layer_open_button1">
      <ul id="the_menu1">
        <li><a href = "/history" >История</a></li>
        <li><a href = "/teachers">Преподаватели</a></li>
        <li><a href = "/applicants">Абитуриентам</a></li> 
  </div>
  <div id="layer_open_button2">
      <ul id="the_menu2">
        <li><a href = "/1course">1 курс</a></li>
        <li><a href = "/2course">2 курс</a></li>
        <li><a href = "/3course">3 курс</a></li>
		<li><a href = "/4course">4 курс</a></li>
      </ul>
  </div>
  <div id="layer_open_button3">
      <ul id="the_menu3">
        <li><a href = "/bachelors">Бакалавры</a></li>
        <li><a href = "/masters">Магистры</a></li>
      </ul>
  </div>
  <div id="layer_open_button4">
      <ul id="the_menu4">
        <li><a href = "/ip">IP-calculator</a></li>
        <li><a href = "/simplex">Симплекс-метод онлайн</a></li>
        <li><a href = "/translate">Нахождение обратной матрицы</a></li>
		<li><a href = "/slu">Решение СЛУ</a></li>
      </ul>
  </div>
  <div id="layer_open_button5">
      <ul id="the_menu5">
        <li><a href = "/video">Видеоролики</a></li>
        <li><a href = "/games">Игры</a></li>
      </ul>
  </div>
   <div id="aside">
    <div id="calendar">
    <center><embed src="http://oyama-do.my1.ru/SWF/calendar.swf" width="200" height="200" wmode="transparent" type="application/x-shockwave-flash"></embed></center>
    </div>
    <h3>Статистика подготовки студентов к экзаменам, курсовым и т.п.</h3>
    <p>58% студентов открывают материал за день до экзамена</p>
    <p>22% студетов зубрят на протяжении недели до экзамена</p>
    <p>и только 20% затрачивают на подготовку более двух недель</p>
    <div id="cse" style="width: 250px;">Loading</div>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript"> 
  		google.load('search', '1', {language : 'ru'});
  		google.setOnLoadCallback(function() {
    		var customSearchControl = new google.search.CustomSearchControl('007621152992589914345:yhuhbu6wndi');
    		customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    		customSearchControl.draw('cse');
  		}, true);
	</script>
	<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
   </div> 
  <div id="content1"> 
   
       <center>
<h1>О кафедре</h1>
<center><img src="image/IT.jpg"></center>
<br><br>
<h2>Краткая история</h2>
Кафедра интеллектуальных информационных технологий была образована в 2005 г. на факультете информационно-математических технологий и экономического моделирования. 
Сейчас кафедра входит в состав института фундаментального образования. Это не только одна из самых молодых кафедр университета по времени создания, но и самая молодая кафедра по возрасту преподавательского состава (33 года). 
Кафедра ИИТ была создана с целью повышения качества образования в области информационных технологий, поэтому подразделению и была передана нагрузка по дисциплине «Информатика» на четырех факультетах университета.
C 2006 г. кафедра получила право обучать студентов по направлению бакалавриата 010400 «Информационные технологии». 
ервый выпуск бакалавров был в 2010г. 
Первый выпуск магистров по специализации «Инженерия программного обеспечения» будет в 2011 г.
<br><br>
<h2>Кафедра сегодня</h2>
На сегодняшний день кафедра ведет занятия по базовым и специальным дисциплинам в области информационных технологий на 8-ми факультетах УрФУ. 
Ведется набор и обучение студентов по направлениям 010300 «Фундаментальные информатика и информационные технологии» (бакалавры и магистры), подготовка аспирантов по специальности 05.13.18 «Математическое моделирование, численные методы и комплексы программ». 
Студенты кафедры получают фундаментальные знания в области математики и информационных технологий: алгоритмы и структуры данных, технология разработки программного обеспечения, проектирование и разработка корпоративных информационных систем. 
Основная образовательная программа содержит 20 математических курсов и 25 дисциплин по программированию и информационным технологиям. Основной упор делается на развитие навыков командной разработки программных систем. К преподаванию базовых дисциплин привлекаются опытные преподаватели с ученой степенью доктора и кандидата наук. 
Специальные курсы, связанные с разработкой программного обеспечения, читают преподаватели-практики, имеющие многолетний опыт участия в крупных проектах по созданию информационных систем.
Научные интересы сотрудников кафедры связаны с компьютерным моделированием физических и химических процессов, разработкой и анализом систем информационной безопасности, проектированием, созданием и внедрением сложных программных систем, управлением проектами разработки программного обеспечения.
<p>Кафедра ИИТ постоянно работает над улучшением материально-технического оснащения, за последние 2 года было сделано следующее:</p>
	<p>1. Закуплена компьютерная техника – сейчас на кафедре 150 компьютеров, серверы, беспроводное сетевое оборудование;</p>
	<p>2. Приобретено мультимедиа оборудование для проведения лекционных занятий, все аудитории кафедры оснащены для проведения лекций на самом высоком техническом уровне;</p>
	<p>3. Руководством университета поддержана инициатива по развитию кафедры, в 2009 г. выделены средства и оснащены оборудованием, подключены к корпоративной сети университета с выходом в сеть Интернет четыре компьютерных класса; идет работа по запуску  ряда специализированных лабораторий для научно-исследовательской работы студентов кафедры.</p>
  <a href = "/main">Вернуться на главную страницу</a>
  </center>
  </div>
  
   {% endblock %}
  
  