{% extends "../common/index.html" %}
  {% block content %}
  <div id="string"><marquee behavior="scroll" direction="left" scrollamount="8"> <font color="blue" size = "+1">
   За пару секунд компьютер успевает сделать ошибку таких размеров, что сотни людей трудятся над ней месяцами.	(Мичем Мерл)
  </marquee></div>
 <div id="nav">
    <button id="button1" >О кафедре</button>
    <button id="button2" >Расписание занятий</button>
    <button id="button3" >Студенты кафедры</button>
	<button id="button4" >Это пригодится</button>
	<button id="button5" >Развлечения</button>
    <button id="button6" onClick="window.location.href = '/contact'">Контактная информация</button>
	<button id="button7" onClick="window.location.href = '/forum'">Форум</button>
  </div>
  
  <div id="layer_open_button1">
      <ul id="the_menu1">
        <li><a href = "/history" >История</a></li>
        <li><a href = "/teachers">Преподаватели</a></li>
        <li><a href = "/applicants">Абитуриентам</a></li> 
  </div>
  <div id="layer_open_button2">
      <ul id="the_menu2">
        <li><a href = "/1course">1 курс</a></li>
        <li><a href = "/2course">2 курс</a></li>
        <li><a href = "/3course">3 курс</a></li>
		<li><a href = "/4course">4 курс</a></li>
      </ul>
  </div>
  <div id="layer_open_button3">
      <ul id="the_menu3">
        <li><a href = "/bachelors">Бакалавры</a></li>
        <li><a href = "/masters">Магистры</a></li>
      </ul>
  </div>
  <div id="layer_open_button4">
      <ul id="the_menu4">
        <li><a href = "/ip">IP-calculator</a></li>
        <li><a href = "/simplex">Симплекс-метод онлайн</a></li>
        <li><a href = "/translate">Нахождение обратной матрицы</a></li>
		<li><a href = "/slu">Решение СЛУ</a></li>
      </ul>
  </div>
  <div id="layer_open_button5">
      <ul id="the_menu5">
        <li><a href = "/video">Видеоролики</a></li>
        <li><a href = "/games">Игры</a></li>
      </ul>
  </div>
   <div id="aside">
     <div id="calendar">
    <center><embed src="http://oyama-do.my1.ru/SWF/calendar.swf" width="200" height="200" wmode="transparent" type="application/x-shockwave-flash"></embed></center>
    </div>
    <h3>Статистика подготовки студентов к экзаменам, курсовым и т.п.</h3>
    <p>58% студентов открывают материал за день до экзамена</p>
    <p>22% студетов зубрят на протяжении недели до экзамена</p>
    <p>и только 20% затрачивают на подготовку более двух недель</p>
    <div id="cse" style="width: 250px;">Loading</div>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript"> 
  		google.load('search', '1', {language : 'ru'});
  		google.setOnLoadCallback(function() {
    		var customSearchControl = new google.search.CustomSearchControl('007621152992589914345:yhuhbu6wndi');
    		customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    		customSearchControl.draw('cse');
  		}, true);
	</script>
	<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
   </div> 
  <div id="content5"> 
   
   <center>
   <h2>Видеоролики</h2>
   <h3>Творчество с нашей кафедры: </h3>
   <p>Бельков Сергей Александрович</p>
   <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/dVSHS-Xuyhc?hl=ru&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/dVSHS-Xuyhc?hl=ru&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
	</center>
		
	<br><br>
	<center>
	<p>Вова, разминка перед следующим роликом</p>
	<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/e36mYA3E8t0?hl=ru&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/e36mYA3E8t0?hl=ru&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
	</center>
	<br><br>

	<br><br>
	<center>
	<p>Вова, Metallica - Sad But True</p>
	<object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/suxAEclbwIE?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/suxAEclbwIE?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
	</center>
	<br><br>
	
	<br><br>
	<center>
	<p>Смешная реклама сыра</p>
	<object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/ngcYF83Nz64?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/ngcYF83Nz64?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
	</center>
	<br><br>
	
	<center>
	<p>Bon Jovi - Have Nice Day</p>
	<object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/uCg2BoKiuOM?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/uCg2BoKiuOM?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
	</center>
	<br><br>
	
	<center>
	<div id="vk_comments"></div>
	<script type="text/javascript">
	VK.Widgets.Comments("vk_comments", {limit: 10, width: "496"});
	</script>
	</center>
	<br><br>
	<center>
  <a href = "/main">Вернуться на главную страницу</a>
  </center>
  </div>
  
   {% endblock %}
  
  